* {
  box-sizing: border-box;
}

body {
  background: black;
  color: #333;
  font-family: Noto Sans;
  margin: 0;
}

/*weather*/
.weather {
  position: absolute;
  width: 25%;
}
.mainWeather{
  display: flex;
}
.tempContainer{
  display: flex;
  flex-direction: column;
}
.weather_icon {
  width: 50%;
  height: auto;
}
